:root {
  --color-main: #676cdb;
  --color-accent: #3aafc9;
  --color-tomato: #f36961;
  --color-orange: #f1b457;
  --color-text: #b1b3b7;
  --color-light: #efefef;
  --color-lighter: #f5f6f7;
  --color-black: #1c232e;
  --color-darkest: #29313d;
  --color-darker: #3a424e;
  --color-dark: #5c626b;

  --font-family: 'Overpass', -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  --font-special: 'Kanit', Arial, sans-serif;

  --font-regular: 400;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;
  --font-black: 900;
}
