:root {
  --color-main: #676cdb;
  --color-accent: #c9c7c9;
  --color-tomato: #3a3838;
  --color-orange: #f1b457;
  --color-text: #b1b3b7;
  --color-light: #efefef;
  --color-lighter: #f5f6f7;
  --color-black: #1c232e;
  --color-darkest: #29313d;
  --color-darker: #3a424e;
  --color-dark: #5c626b;
  --font-family: 'Overpass', -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  --font-special: 'Kanit', Arial, sans-serif;
  --font-regular: 400;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;
  --font-black: 900; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 50%; }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 1920px) {
    html {
      font-size: 75%; } }

body {
  line-height: 1.6;
  font-weight: var(--font-regular);
  font-size: 1.45rem;
  color: var(--color-text);
  background-color: var(--color-black); }
  @media only screen and (max-width: 480px) {
    body {
      font-size: 1.3rem; } }

img {
  width: 100%; }

.container {
  max-width: 120rem;
  width: 90%;
  margin: auto; }

.btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 0.8rem 2.5rem;
  padding-top: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: var(--font-medium); }
  .btn--main {
    background-color: var(--color-main);
    color: var(--color-light); }

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem; }
  .social > li > a {
    color: var(--color-text);
    font-size: 2.4rem;
    transition: all 0.3s ease-in-out; }
    .social > li > a:hover {
      color: var(--color-accent); }

.section {
  padding: 8rem 0; }
  .section__header {
    margin-bottom: 4rem; }
    .section__header--center {
      text-align: center; }
  .section__title {
    line-height: 1.3;
    font-size: 3.2rem;
    color: var(--color-light);
    font-weight: var(--font-black); }
    @media only screen and (max-width: 900px) {
      .section__title {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 600px) {
      .section__title {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 480px) {
      .section__title {
        font-size: 2rem; } }
  .section__subtitle {
    font-size: 2rem; }
    @media only screen and (max-width: 900px) {
      .section__subtitle {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 480px) {
      .section__subtitle {
        font-size: 1.6rem; } }
  .section__footer {
    text-align: center;
    margin-top: 4rem; }
    .section__footer a {
      font-weight: var(--font-medium);
      font-size: 1.8rem;
      text-decoration: none;
      color: var(--color-main);
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 2px solid var(--color-main);
      transition: all 0.3s ease-in-out; }
      .section__footer a:hover {
        color: var(--color-accent);
        border-color: var(--color-accent); }

@media only screen and (max-width: 900px) {
  #about .section__header,
  #contact .section__header {
    margin-bottom: 2rem;
    text-align: center; }
    #about .section__header::after,
    #contact .section__header::after {
      margin: auto;
      margin-top: 1.2rem; } }

.header {
  padding: 0.5rem 0;
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 999; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .container > * {
      flex-basis: 33.33%; }
  .header__logo > a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 5.6rem;
    line-height: 1;
    font-family: var(--font-special);
    font-weight: var(--font-bold);
    background: linear-gradient(180deg, #5dadec 35%, #ef9645 42%, #dd2e44 60%, #ef9645 65%, #ffdc5d 60%, #676cdb 72%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text; }
    @media only screen and (max-width: 600px) {
      .header__logo > a {
        font-size: 3.2rem; } }
  .header__mobile {
    display: none; }
    @media only screen and (max-width: 900px) {
      .header__mobile {
        display: flex;
        justify-content: flex-end; } }
  .header__resume {
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 900px) {
      .header__resume {
        display: none; } }
  .header .navigation {
    display: flex;
    justify-content: center;
    gap: 5rem;
    opacity: 1;
    pointer-events: all; }
    .header .navigation .btn {
      display: none; }
      @media only screen and (max-width: 900px) {
        .header .navigation .btn {
          font-size: 2rem;
          padding: 1.2rem 3.5rem;
          display: block; } }
    @media only screen and (max-width: 900px) {
      .header .navigation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100vh;
        background: var(--color-light);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none; } }
    .header .navigation > ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 5rem; }
      @media only screen and (max-width: 900px) {
        .header .navigation > ul {
          flex-direction: column;
          font-size: 2.4rem;
          align-items: flex-start; } }
      .header .navigation > ul > li {
        position: relative; }
        @media only screen and (max-width: 900px) {
          .header .navigation > ul > li::before {
            display: inline-block;
            position: absolute;
            left: -3rem;
            top: calc(50% - 3px);
            content: '';
            width: 1rem;
            height: 3px;
            background-color: var(--color-accent); } }
        .header .navigation > ul > li > a {
          text-decoration: none;
          font-weight: var(--font-medium); }
    .header .navigation.show {
      opacity: 1;
      pointer-events: all;
      background-color: var(--color-black); }
  @media only screen and (max-width: 900px) {
    .header #navigation-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.2rem;
      width: 4.2rem;
      cursor: pointer;
      font-size: 2.4rem;
      line-height: 0;
      border-radius: 50%;
      position: relative;
      z-index: 999;
      outline-color: transparent;
      border: 2px solid var(--color-darker);
      background-color: var(--color-darkest); } }
  @media only screen and (max-width: 600px) {
    .header #navigation-button {
      font-size: 2rem; } }

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero__wrapper {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem; }
  .hero__img {
    margin-top: 6rem;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; }
    .hero__img img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      line-height: 0;
      border: 0.5rem solid var(--color-black); }
  .hero__imgCircle {
    margin: 0 auto;
    margin-top: -4rem;
    height: 16rem;
    width: 16rem;
    border: 0.5rem solid var(--color-main);
    border-radius: 50%; }
    @media only screen and (max-width: 900px) {
      .hero__imgCircle {
        height: 14rem;
        width: 14rem; } }
    @media only screen and (max-width: 600px) {
      .hero__imgCircle {
        height: 12rem;
        width: 12rem; } }
  .hero__title {
    font-weight: var(--font-black);
    font-size: 4.8rem;
    line-height: 1.05;
    color: var(--color-lighter); }
    @media only screen and (max-width: 900px) {
      .hero__title {
        font-size: 4.2rem; } }
    @media only screen and (max-width: 900px) {
      .hero__title {
        font-size: 3.6rem; } }
    @media only screen and (max-width: 600px) {
      .hero__title {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 480px) {
      .hero__title {
        font-size: 2.4rem; } }
  .hero__content {
    max-width: 65rem;
    width: 90%; }
  .hero__social {
    position: absolute;
    bottom: 6rem; }

.portfolio {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap; }
  .portfolio__box {
    border-radius: 0.7rem; }
    .portfolio__box:nth-child(1), .portfolio__box:nth-child(4) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      flex-basis: 100%; }
      @media only screen and (max-width: 900px) {
        .portfolio__box:nth-child(1), .portfolio__box:nth-child(4) {
          flex-direction: column; } }
      .portfolio__box:nth-child(1) .portfolio__img, .portfolio__box:nth-child(4) .portfolio__img {
        width: 45%;
        background-color: var(--color-accent); }
      .portfolio__box:nth-child(1) .portfolio__info, .portfolio__box:nth-child(4) .portfolio__info {
        width: 50%; }
      .portfolio__box:nth-child(1) .portfolio__link, .portfolio__box:nth-child(4) .portfolio__link {
        color: var(--color-accent);
        border-color: var(--color-accent); }
      @media only screen and (max-width: 900px) {
        .portfolio__box:nth-child(1), .portfolio__box:nth-child(4) {
          flex-direction: column; }
          .portfolio__box:nth-child(1) .portfolio__img, .portfolio__box:nth-child(4) .portfolio__img {
            width: 100%;
            background-color: var(--color-accent); }
          .portfolio__box:nth-child(1) .portfolio__info, .portfolio__box:nth-child(4) .portfolio__info {
            width: 100%; } }
    .portfolio__box:nth-child(2), .portfolio__box:nth-child(3) {
      display: flex;
      flex-basis: calc(50% - 2rem);
      flex-direction: column-reverse;
      background-color: var(--color-orange);
      padding: 2.5rem 0 0 4rem;
      overflow: hidden; }
      @media only screen and (max-width: 900px) {
        .portfolio__box:nth-child(2), .portfolio__box:nth-child(3) {
          flex-basis: 100%; } }
      .portfolio__box:nth-child(2) .portfolio__img, .portfolio__box:nth-child(3) .portfolio__img {
        border-radius: 0;
        height: 36rem;
        padding: 0; }
        @media only screen and (max-width: 900px) {
          .portfolio__box:nth-child(2) .portfolio__img, .portfolio__box:nth-child(3) .portfolio__img {
            height: 24rem; } }
        .portfolio__box:nth-child(2) .portfolio__img img, .portfolio__box:nth-child(3) .portfolio__img img {
          height: 100%;
          object-fit: cover;
          object-position: top center; }
      .portfolio__box:nth-child(2) .portfolio__title, .portfolio__box:nth-child(3) .portfolio__title {
        color: var(--color-black); }
      .portfolio__box:nth-child(2) .portfolio__content, .portfolio__box:nth-child(3) .portfolio__content {
        color: var(--color-darker);
        margin-right: 2rem; }
      .portfolio__box:nth-child(2) .portfolio__link, .portfolio__box:nth-child(3) .portfolio__link {
        color: var(--color-darkest);
        border-color: var(--color-darkest);
        display: inline-block;
        margin-bottom: 4rem; }
    .portfolio__box:nth-child(3) {
      background-color: var(--color-tomato); }
    .portfolio__box:nth-child(4) {
      flex-direction: row; }
      @media only screen and (max-width: 900px) {
        .portfolio__box:nth-child(4) {
          flex-direction: column; } }
      .portfolio__box:nth-child(4) .portfolio__img {
        background-color: var(--color-main); }
      .portfolio__box:nth-child(4) .portfolio__link {
        color: var(--color-main);
        border-color: var(--color-main); }
  .portfolio__img {
    border-radius: 0.7rem;
    overflow: hidden;
    padding: 2.5rem 0 0 2.5rem;
    line-height: 0; }
    .portfolio__img img {
      border-top-left-radius: 0.7rem; }
  .portfolio__title {
    font-size: 2.4rem;
    margin: 1rem 0;
    color: var(--color-lighter);
    font-weight: var(--font-bold); }
    @media only screen and (max-width: 600px) {
      .portfolio__title {
        font-size: 2rem; } }
  .portfolio__content {
    margin-bottom: 1rem; }
  .portfolio__link {
    font-size: 1.6rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden; }
    .portfolio__link:hover {
      letter-spacing: 0.5px; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 900px) {
    .about {
      flex-direction: column-reverse; } }
  .about__left {
    flex-basis: 50%; }
    @media only screen and (max-width: 900px) {
      .about__left {
        flex-basis: 100%; } }
  .about__right {
    flex-basis: 45%; }
    @media only screen and (max-width: 900px) {
      .about__right {
        flex-basis: 100%;
        margin-bottom: 4rem; } }
    .about__right img {
      border-radius: 1.5rem; }
  .about__bio {
    line-height: 1.8;
    margin-bottom: 3rem; }
  .about__skillsTitle {
    color: var(--color-main);
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 900px) {
      .about__skillsTitle {
        font-size: 2rem; } }
  .about__skillsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem; }
    @media only screen and (max-width: 900px) {
      .about__skillsList {
        gap: 1.5rem; } }
    .about__skillsList li {
      font-size: 1.4rem;
      padding: 0.5rem 2rem;
      color: var(--color-main);
      padding-top: 0.8rem;
      border: 2px solid var(--color-main);
      border-radius: 4rem; }
      .about__skillsList li:hover {
        background-color: var(--color-main);
        color: var(--color-light); }
      @media only screen and (max-width: 900px) {
        .about__skillsList li {
          font-size: 1.3rem;
          padding: 0.5rem 1.5rem; } }

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .testimonials .splide__pagination {
    padding-bottom: 2rem; }
  .testimonials .splide__arrow {
    background-color: var(--color-main); }
    .testimonials .splide__arrow--prev {
      right: 0; }
    .testimonials .splide__arrow--next {
      right: 0; }
  .testimonials .splide__pagination__page.is-active {
    background-color: var(--color-main); }
  .testimonials__box {
    padding-left: 8rem;
    padding-right: 8rem; }
    @media only screen and (max-width: 900px) {
      .testimonials__box {
        padding-left: 4rem;
        padding-right: 4rem; } }
    @media only screen and (max-width: 900px) {
      .testimonials__box {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .testimonials__content {
    position: relative;
    padding: 3rem 8rem;
    background-color: var(--color-darkest);
    padding-bottom: 8rem; }
    @media only screen and (max-width: 900px) {
      .testimonials__content {
        background-color: var(--color-black);
        padding: 0;
        padding-left: 5rem;
        padding-right: 3rem; } }
    @media only screen and (max-width: 600px) {
      .testimonials__content {
        padding-left: 3rem;
        padding-right: 1rem; } }
  .testimonials__sign {
    top: 4rem;
    left: 5.5rem;
    font-size: 8rem;
    position: absolute;
    color: var(--color-text); }
    @media only screen and (max-width: 1200px) {
      .testimonials__sign {
        font-size: 6rem;
        top: 2rem;
        left: 6.5rem; } }
    @media only screen and (max-width: 900px) {
      .testimonials__sign {
        font-size: 5rem;
        top: 4rem; } }
    @media only screen and (max-width: 600px) {
      .testimonials__sign {
        font-size: 4rem;
        top: 6rem; } }
  .testimonials__quotes {
    padding-top: 12rem;
    padding-bottom: 4rem;
    color: var(--color-gray); }
  .testimonials__author {
    display: flex;
    flex-direction: column;
    align-items: end; }
    .testimonials__author h4 {
      font-weight: var(--font-semi-bold);
      color: var(--color-gray);
      font-size: 2rem; }
    .testimonials__author p {
      font-weight: var(--font-semi-bold);
      color: var(--color-accent); }

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .contact__left {
    flex-basis: 40%; }
    @media only screen and (max-width: 900px) {
      .contact__left {
        flex-basis: 100%; } }
  .contact__right {
    flex-basis: 50%; }
    @media only screen and (max-width: 900px) {
      .contact__right {
        flex-basis: 100%;
        margin-top: 2rem; } }
  .contact__info {
    margin: 1.5rem 0;
    text-align: left; }
    @media only screen and (max-width: 900px) {
      .contact__info {
        text-align: center; } }
    .contact__info p {
      font-weight: var(--font-semi-bold); }
    .contact__info a {
      text-decoration: none;
      font-size: 2.4rem;
      font-weight: var(--font-bold);
      color: var(--color-main);
      transition: all 0.3s ease-in-out; }
      @media only screen and (max-width: 900px) {
        .contact__info a {
          font-size: 2rem; } }
      .contact__info a:hover {
        color: var(--color-accent); }
    @media only screen and (max-width: 900px) {
      .contact__info .social {
        justify-content: center; } }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-darkest);
    padding: 4rem; }
  .contact__fields label {
    position: absolute;
    left: -9999px; }
  .contact__fields input,
  .contact__fields textarea {
    width: 100%;
    padding: 1.2rem;
    padding-left: 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--color-darker); }
  .contact__fields textarea {
    resize: none;
    height: 12rem; }
  .contact__fields button {
    font-size: 1.6rem;
    display: inline-block;
    padding: 1.5rem 2.5rem; }
    @media only screen and (max-width: 900px) {
      .contact__fields button {
        font-size: 1.4rem;
        width: 100%; } }

.footer__copyright {
  background-color: var(--color-darkest);
  color: var(--color-light);
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem 0; }
  .footer__copyright a {
    color: var(--color-main); }

.portfolioSingle {
  margin-top: 3rem;
  margin-bottom: 8rem; }
  .portfolioSingle__img {
    margin-bottom: 2rem; }
    .portfolioSingle__img img {
      border-radius: 0.7rem;
      height: 50vh;
      object-fit: cover;
      object-position: top center; }
  .portfolioSingle__stacks {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem; }
    .portfolioSingle__stacks li {
      color: var(--color-accent);
      border: 2px solid var(--color-accent);
      border-radius: 5rem;
      font-size: 1.2rem;
      font-weight: var(--font-medium);
      padding: 0.5rem 2.5rem; }
  .portfolioSingle__link {
    display: flex;
    gap: 0.5rem;
    color: var(--color-accent);
    font-weight: var(--font-semi-bold);
    font-size: 2rem; }
  .portfolioSingle__linkBottom {
    text-align: center; }
  .portfolioSingle__title {
    font-size: 4.2rem;
    color: var(--color-lighter);
    font-weight: var(--font-bold);
    line-height: 1.1; }
  .portfolioSingle__content {
    margin: 4rem 0; }
    .portfolioSingle__content a {
      color: var(--color-accent);
      font-weight: var(--font-semi-bold); }
